*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.trackerView {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #28443f;
}
.trackerView .trackerContainer {
    width: 35%;
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px) saturate (120%);
    box-shadow: 0 6px 20px rgba(2, 6,23, 0.6),
                inset 0 1px 0 rgba(255, 255, 255, 0.02);
}
.trackerContainer h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    color: #F2FD7D;
}
h4 div {
    display: flex;
    gap: 5px;
}
h4 a {
    border: solid 1px;
    padding: 8px 8px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}
h4 a:hover {
    background: #F2FD7D;
    color: #28443f;
}
.trackerContainer form {
    border: solid 1px #F2FD7D;
    border-radius: 5px;
    margin-top: 10px;
    padding: 7px 7px;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
form div {
    display: flex;
    flex-direction: column;
}
form div label {
    color: #fff;
}
form div input {
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: large;
}
form div textarea {
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 5px;
    padding-top: 5px;
    font-size: large;
}
form .message {
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(207, 70, 70);
    color: #fff;
}
form button {
    height: 27px;
    font-size: larger;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
    background: #F2FD7D;
    color: #28443f;
    cursor: pointer;
    transition: 0.5s;
}
form button:hover {
    background: #28443f;
    color: #F2FD7D;
    border: solid 1px #F2FD7D;
}


form .alertMsg {
    border: solid 1px #fff;
    padding: 10px 8px;
    border-radius: 8px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
form .alertMsg p {
    padding: 5px 5px;
    border-radius: 8px;
    background: yellowgreen;
    color: #fff;
}
form .alertMsg h3 {
    padding: 5px 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form .alertMsg h3 div {
    color: #F2FD7D;
}
form .alertMsg h3 button {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    border-radius: 5px;
    border: none;
    background: #000;
    color: #fff;
}



@media (max-width: 1000px) {
    .trackerView .trackerContainer {
        width: 88% !important;
    }
}